/* Forms */
.form-container{
  padding: 15px 30px 15px 30px;
}
.form-container .col-6 {
  padding-bottom: 0;
}
#contact{
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 .5em 20vh .5em;
  padding: 0 1.25em; 
}
#contact form{
  padding: .25em;
}
form label{
  display: block;
  float: left;
  padding-bottom: .25em;
}
form input, form textarea{
  border: 1px solid rgb(168, 168, 168);
  height: 3em;
  width: 100%;
  margin-bottom: 1em;
}
form h1{
  text-align: left;
}
#msg{
  height: 5em;
}