meta(charset='utf-8')
meta(name='viewport' content='width=device-width, initial-scale=1')
script(type="module" src="https://unpkg.com/@google/model-viewer/dist/model-viewer.min.js")
link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
link(rel="stylesheet" href="public/styles/style.css")
link(rel="stylesheet" href="public/styles/navbar.css")
link(rel="stylesheet" href="public/styles/model.css")