.col-12.m-container.m-center.p-0.full-height
  model-viewer(
    src="public/art/scene.gltf"
    alt="A 3D model of an astronaut"
    ar ar-modes="webxr scene-viewer quick-look"
    environment-image="neutral"
    auto-rotate camera-controls
  )