.nav(id="navbar").plane
  a(href="https://github.com/lyoncodes")
    i.fa.fa-github
  a(href="#contact" onclick="displayFooter()")
    i.fa.fa-address-card
  a.icon(id="top-btn" href="#top")
    i.fa.fa-arrow-circle-up