model-viewer{
  /* border: 1px solid blue; */
  box-shadow: 0 1.1875rem 1.75rem 0.3125rem rgb(64 64 64 / 9%);
  display: none;
  width: 90%;
  height: 400px;
  max-width: 800px;
  position: fixed;
  bottom: 5%;
}