/* Add a black background color to the top navigation */
.nav {
  background-color: #fff;
  overflow: hidden;
  position: fixed;
  width: 100vw;
}

/* Style the links inside the navigation bar */
.nav a {
  float: left;
  display: block;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.nav a:first-child {
  display: none;
}

/* Hide the link that should open and close the nav on small screens */
.nav .icon {
  display: none;
}

/* When the screen is less than 800 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the nav (.icon) */
@media screen and (max-width: 800px) {
  .nav a:not(:first-child) {
    display: none;
  }
  .nav a:first-child{
    display: block;
  }
  .nav a.icon {
    float: right;
    display: block;
    width: 65px;
    text-align: right;
  }
}

/* The "responsive" class is added to the nav with JavaScript when the user clicks on the icon. This class makes the nav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 800px) {
  .nav.responsive {
    position: fixed;
    background-color: white;
    height: 100vh;
    width: 100vw;
    z-index: 1;
  }
  .nav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .nav.responsive a:first-child {
    display: none;
  }
  .nav.responsive a:nth-child(2) {
    margin-top: 2em;
  }
  .nav.responsive a {
    float: none;
    display: block;
  }
}