* {
  font-family: -agent-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  box-sizing: border-box;
}
body{
  margin: 0;
  text-align: left;
}
:host *[class*="col-"] {
  float: left;
  padding: 15px;
}
:host .row::after {
  content: "";
  clear: both;
  display: table;
}
:host .col-1 {width: 8.33%;}
:host .col-2 {width: 16.66%;}
:host .col-3 {width: 25%;}
:host .col-4 {width: 33.33%;}
:host .col-5 {width: 41.66%;}
:host .col-6 {width: 50%;}
:host .col-7 {width: 58.33%;}å
:host .col-8 {width: 66.66%;}
:host .col-9 {width: 75%;}
:host .col-10 {width: 83.33%;}
:host .col-11 {width: 91.66%;}
:host .col-12 {width: 100%;}

:host .m-container > * {
  display: flex;
  flex-direction: column;
}

.m-container {
  display: flex;
}

:host .full-height > div {
  height: 100vh;
}

.full-height > div{
  height: 100vh;
}

:host .stack-count{
  position: fixed;
  margin-top: 3em;
}

/* Modifiers */
:host .p-0 {
  padding: 0;
}
:host .mb-1{
  margin-bottom: 1em;
}
:host .mt-0{
  margin-top: 0;
}
:host .mt-1{
  margin-top: 1em;
}
:host .mt-3{
  margin-top: 3em;
}
.m-center{
  justify-content: center;
}
:host .m-center{
  justify-content: center;
}
:host .m-end{
  justify-content: flex-end;
}
:host .m-stack{
  flex-direction: column;
}
:host .m-neat{
  justify-content: space-evenly;
}
:host .sticky {
  position: fixed;
  top: 0;
}
.sanded-edges{
  border-radius: 1em;
}

/* Text */
button, .title {
  font-weight: 800;
  font-size: 3em;
  text-transform: uppercase;
}
.sub-title{
  font-size: 1.75rem;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0;
}
.text-block, .carousel, li {
  color: #39393a;
  font-weight: 200;
  line-height: 1.5em;
}

/* UL */
li {
  margin-bottom: 1em;
}

/* Links */
.i-link img{
  height: 50px;
  width: 50px;
  padding: 0 1em;
}

.prev, .next{
  bottom: -75px;
}
.prev{
  left: 10px;
}
.next{
  right: 10px;
}
/* Buttons */
button {
  background: #003b0d;
  border: 1px solid #003b0d;
  border-radius: 45px;
  box-shadow: 0 1.1875rem 1.75rem 0.3125rem rgb(64 64 64 / 9%);
  line-height: 45px;
  padding: 0.25rem;
  width: 50%;
}
.c-btn{
  background-color: #fff;
  border: 3px solid #004f11;
  box-shadow: 0 1.1875rem 1.75rem 0.3125rem rgb(64 64 64 / 9%);
  border-radius: 100%;
  color: #39393a !important;
  display: inline-block;
  line-height: 1;
  position: absolute;
  transition: box-shadow 0.3s ease;
  height: 55px;
  width: 55px;
  z-index: 0;
}
.c-btn, button a {
  color: #fff;
  text-decoration: none;
}

/* layers */
.plane{
  box-shadow: 0 1.1875rem 1.75rem 0.3125rem rgb(64 64 64 / 9%);
}

@media only screen  and (min-width : 1224px) {
  /* Styles */
  .col-md-1 {width: 8.33%;}
  .col-md-2 {width: 16.66%;}
  .col-md-3 {width: 25%;}
  .col-md-4 {width: 33.33%;}
  .col-md-5 {width: 41.66%;}
  .col-md-6 {width: 50%;}
  .col-md-7 {width: 58.33%;}å
  .col-md-8 {width: 66.66%;}
  .col-md-9 {width: 75%;}
  .col-md-10 {width: 83.33%;}
  .col-md-11 {width: 91.66%;}
  .col-md-12 {width: 100%;}
}