.m-container.col-12
  .col-12.col-md-6.center
    h1 Get In Touch
  #contact.m-container
    .col-12.col-md-5.form-container.text-center
      form(type="POST" action="/")
        .row
          .col-6
            label name
            input(id="name" name="name")
          .col-6
            label return contact
            input(id="email" name="email")
        .col-12.pt-0
          label how can I help you?
          textarea(id="msg" name="msg")
      
        .g-recaptcha#recaptcha(
          data-sitekey="6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI"
          data-callback="submitContactForm"
          data-size="invisible")
        
        button(type="submit" id="submit") submit
