meta(charset='utf-8')
meta(name='viewport' content='width=device-width, initial-scale=1')

script(src="https://www.google.com/recaptcha/api.js" async defer)
script(src='src/components/contactForm.js')

link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
link(rel="stylesheet" href="src/styles/style.css")
link(rel="stylesheet" href="src/styles/navbar.css")
link(rel="stylesheet" href="src/styles/forms.css")